<%= form_for(@player) do |f| %>
  <% if @player.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@player.errors.count, "error") %> prohibited this player from being saved:</h2>

      <ul>
      <% @player.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %><br>
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
   PlayerAI.py<br>
    <%= f.text_area :PlayerAI, cols: "100", rows: "20" %>
  </div>
  <div class="field">
    ComputerAI.py<br>
    <%= f.text_area :ComputerAI, cols: "100", rows: "20" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
