<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @player.nome %>
</p>

<p>
  <strong>Email:</strong>
  <%= @player.email %>
</p>

<p>
  <strong>Playerai:</strong>
  <%= @player.PlayerAI %>
</p>

<p>
  <strong>Computerai:</strong>
  <%= @player.ComputerAI %>
</p>

<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>
